

/*FOOTER SECTION*/

footer {
    padding: 60px 0 100px;
    width: 100%;
    background-color: #fff;
}

.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.index-footer-sitemap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.index-footer-sitemap a, p {
    color: var(--footer-color);
}

.index-footer-sitemap ul:nth-child(2) {
    max-width: 455px;
    padding-left: 100px;
}

.index-footer-sitemap ul:nth-child(3) {
    flex-grow: 1;
    text-align: right;
}

.index-footer-sitemap ul:nth-child(1) a {
    font-size: 1.6rem;
}

.index-footer-sitemap ul:nth-child(1) a:hover {
    border-bottom: 1px solid var(--footer-color);
    transition: all 100ms ease-in-out;
}

.index-footer-copyright {
    flex-basis: 100%;
    margin-top: 60px;
    text-align: center;
    opacity: 0.7;
}

/* Mobile Responsive Styles */
@media only screen and (max-width: 768px) {
    
    .index-footer-sitemap {
        flex-direction: column;
        row-gap: 40px;
        text-align: center;
    }

    .index-footer-sitemap ul:nth-child(2) {
        max-width: none;
        padding-left: 0;
    }
    
    .index-footer-sitemap ul:nth-child(3) {
        text-align: center;
    }
    
    .index-footer-sitemap ul:nth-child(1) a {
        font-size: 1.6rem;
    }
    
    .index-footer-sitemap ul:nth-child(1) a:hover {
        border-bottom: 1px solid var(--footer-color);
        transition: all 100ms ease-in-out;
    }

}